.footer {
  display: flex;
  box-sizing: border-box;
  position: relative;
  max-width: 880px;
  justify-content: flex-start;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  justify-content: flex-start;
  font-family: "Inter", Arial, sans-serif;
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 70px;
  padding-bottom: 50px;
}

@media screen and (max-width: 580px) {
  .footer__copyright {
    padding-top: 48px;
    margin-left: 19px;
    padding-bottom: 36px;
    line-height: 17px;
    font-size: 14px;
  }
}
