.header {
  padding-top: 45px;
  border-bottom: 1px solid #545454b3;
}

.header__image {
  width: 173px;
  height: 33px;
  margin-bottom: 41px;
}
@media screen and (max-width: 580px) {
  .header {
    padding-top: 28px;
  }

  .header__image {
    margin-left: 20px;
    height: 24px;
    width: 126px;
    margin-bottom: 32px;
    padding-top: 0;
  }
}
